.product {
  box-shadow: 0px 5px 20px rgb(207, 207, 207);
  max-width: min-content;
  border-radius: 5px;
  text-align: center;
  margin: 0 20px 30px 20px;
}

.product-img-wrapper {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 180px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-details {
  padding: 0 15px 15px 15px;
}

.product-details h4 {
  color: rgb(116, 116, 116);
  padding-top: 10px;
}

.product-details p {
  font-size: 15px;
  color: rgb(56, 56, 56);
  padding-top: 5px;
}

.product-btn-wrapper {
  padding-top: 10px;
}
