.homepage {
  width: 100%;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url('../../images/hero-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.hero-title-wrapper h1 {
  font-size: 50px;
}

.hero-intro-wrapper p {
  font-size: 20px;
  text-align: center;
}

.btn-wrapper {
  text-align: center;
  padding: 20px;
}

#order-now-btn {
  font-size: 18px;
}

.scroll-btn-wrapper {
  position: absolute;
  bottom: 20px;
}

.scroll-down-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 80px;
}
