.homepage {
  width: 100%;
}

.hero-section-wrapper {
  padding: 0 20px;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 50vh;
  margin: 100px auto 0 auto;
  border-radius: 10px;
  background-image: url('../images/veg_market.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  border-radius: 20px;
  background: linear-gradient(to right, black, transparent 1000px);
}

.hero-title-wrapper h1 {
  font-size: 5vw;
}

.hero-title-wrapper h1 span {
  color: #f57e2e;
}

.hero-intro-wrapper p {
  font-size: 2vw;
  color: #2dcf28;
}

.btn-wrapper {
  padding-top: 20px;
}

#order-now-btn {
  font-size: 18px;
}

.scroll-btn-wrapper {
  position: absolute;
  bottom: 20px;
}

.scroll-down-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 80px;
}

@media screen and (max-width: 700px) {
  .hero-title-wrapper h1 {
    font-size: 8vw;
  }

  .hero-intro-wrapper p {
    font-size: 3vw;
    color: #2dcf28;
  }
}

@media screen and (max-width: 600px) {
  .hero-content-wrapper {
    background: linear-gradient(to right, black, transparent 350px);
  }
}
