.main {
  padding: 80px 10px 20px 10px;
}

.main h2 {
  color: rgb(85, 85, 85);
  padding-bottom: 10px;
}

.main .product-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 459px) {
  .main .product-list {
    justify-content: center;
  }
}
