.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  /* background-color: white; */
  color: white;
  /* box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.404); */
  z-index: 1;
}

.nav {
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.nav ul li {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.cart-icon-wrapper {
  position: relative;
  cursor: pointer;
}

.cart {
  width: 20px;
}

.cart-items {
  position: absolute;
  top: -50%;
  right: -30%;
  background: #a9ca48;
  border-radius: 50%;
  padding: 0 5px;
  color: white;
}
