.product {
  box-shadow: 0px 5px 20px rgb(207, 207, 207);
  max-width: min-content;
  border-radius: 5px;
  margin: 0 20px 30px 20px;
  transition: all 0.5s;
}

.product:last-child {
  margin: 0 20px 30px 20px;
}

.product:hover {
  transform: scale(1.05);
}

.product-img-wrapper {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-details {
  padding: 0 15px 15px 15px;
}

.product-details h4 {
  color: rgb(116, 116, 116);
  padding-top: 10px;
}

.product-details p {
  font-size: 15px;
  color: rgb(56, 56, 56);
  padding-top: 5px;
}

.product-btn-wrapper {
  padding-top: 10px;
}

/* @media screen and (max-width: 459px) {
  .product:hover {
    transform: scale(1.01);
  }

  .product-img-wrapper {
    width: 90vw;
    height: 90vw;
  }
} */

@media screen and (max-width: 650px) {
  .product {
    margin: 0 10px 30px 20px;
  }

  .product:first-child {
    margin: 0 10px 30px 10px;
  }

  .product:last-child {
    margin: 0 10px 30px 20px;
  }
}
