.product {
  background-color: white;
  max-width: min-content;
  border-radius: 5px;
  margin: 0 20px 20px 20px;
  transition: all 0.5s;
}

.shadow {
  box-shadow: 0px 5px 20px rgb(207, 207, 207);
}

.product:last-child {
  margin: 0 20px 20px 20px;
}

/* .product:hover {
  transform: scale(1.05);
} */

.product-img-wrapper {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-details {
  padding: 0 15px 15px 15px;
}

.product-details h4 {
  color: rgb(116, 116, 116);
  padding-top: 10px;
}

.product-details p {
  font-size: 15px;
  color: rgb(56, 56, 56);
  padding-top: 5px;
}

.product-details p.product-description {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #f1a16b;
}

.product-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.product-btn-wrapper .items-in-cart {
  color: #a9ca48;
  font-weight: bold;
  padding-top: 0;
}

.in-cart {
  background: white !important;
}

.add-to-cart-btn:active {
  box-shadow: 0 0 15px #f57e2e;
}

.product-add-to-cart-icon {
  width: 20px;
  height: 20px;
}

/* @media screen and (max-width: 459px) {
  .product:hover {
    transform: scale(1.01);
  }

  .product-img-wrapper {
    width: 90vw;
    height: 90vw;
  }
} */

@media screen and (max-width: 650px) {
  .product {
    margin: 0 10px 20px 20px;
  }

  .product:first-child {
    margin: 0 10px 20px 10px;
  }

  .product:last-child {
    margin: 0 10px 20px 20px;
  }
}
